@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background-color: #2a2928; */
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.mainBlock {
  width: 95%;
  height: 50%;
  background-color: #e4dbdb;
  border: 1px solid #2a2928;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(var(--foreground-rgb));
}

a {
  color: rgb(var(--foreground-rgb));
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
