@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #f9f3e7; 
  font-family: 'Verdana', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.mainBlock {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 95%;
  height: 95%;
  background-color: #f3e9cb;
  border: 1px solid #2a2928;
  border-radius: 20px;
  padding: 30px 20px;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(var(--foreground-rgb));
}

a {
  color: rgb(var(--foreground-rgb));
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html {
  scroll-behavior: smooth;
}

.hoverText {
  position: absolute;
  color: #292827;
  background-color: white;
  border-radius: 2px;
}