.applyButton {
    position: relative;
    float: right;
    right: 10px;
    top: 150px;
    background-color: #f3e9cb;
    border-color: #292827;
    border-width: 2px;
    border-radius: 10px;
    justify-content: flex-end;
    padding: 1vh 1vh;
    color: #292827;
    cursor: pointer;
    text-transform: uppercase;
    font-size: small;
}

h2 {
    font-size: x-large;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.intro {
    font-size: medium;
    padding-top:100px;
    padding-bottom: 20px;
    margin: 40px;
}

.applyButton:hover {
    color: #f3e9cb;
    background-color: #292827;
}

.logoutButton {
    position: relative;
    float: right;
    right: 10px;
    background-color: #f3e9cb;
    border-color: #292827;
    border-width: 2px;
    border-radius: 10px;
    justify-content: flex-end;
    padding: 1vh 1vh;
    color: #292827;
    cursor: pointer;
    text-transform: uppercase;
    font-size: small;
    margin-bottom: 60px;
}

.logoutButton:hover {
    color: #f3e9cb;
    background-color: #292827;
}

.adminBlock {
    background-color: #f3e9cb;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #292827;
    border-width: 1px;
    margin: 20px;
}

.adminBlock ul {
    list-style-type: none;
    padding: 0;
}

.adminBlock li {
    padding: 10px;
    border-bottom: 1px solid #292827;
    display: flex;
    justify-content: space-between;
}

.adminBlock label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: #292827;
}

.adminBlock input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #292827;
    border-radius: 5px;
}

.adminBlock button {
    background-color: #292827;
    color: #f3e9cb;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: small;
}

.adminBlock button:hover {
    background-color: #f3e9cb;
    color: #292827;
}