.errorMessage {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.applyButton {
    background-color: #f3e9cb;
    border-color: #292827;
    border-width: 2px;
    border-radius: 10px;
    justify-content: flex-end;
    padding: 1vh 1vh;
    color: #292827;
    cursor: pointer;
    text-transform: uppercase;
    font-size: small;
}

.applyButtonContainer {
    position: relative;
    float: right;
    right: 20px;
    top: 100px;
    display: flex;
    flex-direction: column;
}

.applyGraphSettingsButtonContainer {
    position: relative;
    float: right;
    right: 10px;
    top: 0;
    display: flex;
    flex-direction: column;
}

.applyMediaButtonContainer {
    position: relative;
    float: right;
    right: 20px;
    top: 10px;
    display: flex;
}

.applyGraphSettingsButton {
    background-color: #f3e9cb;
    border-color: #292827;
    border-width: 2px;
    border-radius: 10px;
    justify-content: flex-end;
    padding: 1vh 1vh;
    color: #292827;
    cursor: pointer;
    text-transform: uppercase;
    font-size: small;
}

.applyGraphSettingsButton:hover {
    color: #f3e9cb;
    background-color: #292827;
}

.applyButton:hover {
    color: #f3e9cb;
    background-color: #292827;
}

h2 {
    font-size: x-large;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.intro {
    font-size: medium;
    padding-top: 100px;
    padding-bottom: 20px;
    margin: 40px;
}

.intro a {
    color: #183d33;
}

.adminBlock {
    background-color: #f3e9cb;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #292827;
    border-width: 1px;
    margin: 20px;
}

.adminBlock ul {
    list-style-type: none;
    padding: 0;
}

.adminBlock li {
    padding: 10px;
    border-bottom: 1px solid #292827;
    display: flex;
    justify-content: space-between;
}

.adminBlock label {
    display: block;
    margin-bottom: 0.5rem;
    color: #292827;
}

.adminBlock input {
    padding: 0.5rem;
    max-width: 200px;
    margin: 30px;
    border: 1px solid #292827;
    border-radius: 5px;
    caret-color: black
}

.adminBlock button {
    background-color: #292827;
    color: hsl(45, 63%, 87%);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: small;
    border-color: #292827;
    border-width: 2px;
    border-radius: 5px;
}

.adminBlock button:hover {
    color: #292827;
    background-color: #f3e9cb;
}

.selectionBlock {
    background-color: #f3e9cb;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #292827;
    margin-top: 60px;
    border-width: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-column-gap: 20px;
}

.gridElement {
    padding: 0.2rem;
    border-right: 1px solid #292827;
    border-radius: 0px; 
}

.selectionBlock input {
    width: 60px;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.selectionBlock label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoutButton {
    position: relative;
    float: right;
    margin-bottom: 70px;
    margin-right: 20px;
    background-color: #f3e9cb;
    border-color: #292827;
    border-width: 2px;
    border-radius: 10px;
    padding: 1vh 1vh;
    color: #292827;
    cursor: pointer;
    text-transform: uppercase;
    font-size: small;
}

.logoutButton:hover {
    color: #f3e9cb;
    background-color: #292827;
}
