.dashboard {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.dashboard img {
    border-radius: 3px;
    max-width:25vw;
    margin-bottom: 20px;
}

.leftMarginContainer {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.middleContainer {
    max-width: 40vw;
    min-width: 30vw;
}

.rightMarginContainer {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.energySavingTipsContainer {
    padding: 1em 2em;
    color: #292827;
    border-color: #292827;
    border-width: 2px;
    border-radius: 10px;
    width:20em;
}

.energySavingTipsContainer h1 {
    font-size: large;
    font-family: 'Verdana', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.energySavingTipsContainer h2 {
    font-size: medium;
    font-weight: bold;
}

.energySavingTipsContainer li {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.energySavingTipsContainer .iconAndText {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}

.icon {
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .rightMarginContainer {
        margin-left: 10px; /* Adjust the margin for smaller screens */
    }

    .energySavingTipsContainer {
        width: 100%; /* Make the container full-width on smaller screens */
        padding: 1em; /* Adjust padding as needed */
    }

    .energySavingTipsContainer h1 {
        font-size: 1em; /* Adjust font size for smaller screens */
    }

    .energySavingTipsContainer li {
        margin-bottom: 2px;
        font-size: small;
    }

    .energySavingTipsContainer h2 {
        font-size: small;
    }

    .icon {
        width: 20px; /* Adjust icon size for smaller screens */
        height: 20px;
    }
}