/* CSS for Headings */
.heading {
  margin-top: 90px;
  font-size: 20px; /* Font size */
  text-align: center; /* Center-align text */
  font-family: 'Verdana', sans-serif; /* Font family */
}

/* CSS for Graph Container */
.graphContainer {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 100px;
}
