.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #5F9965;
    color: black;
    text-align: center;
    padding: 5px 0vh;
    display: flex;
    justify-content: space-between;
}

.footerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 16px; 
}

.footerContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: auto;
    margin-top: 2px;
}

.helpButton {
    color: #292827;
    padding: 0.5vh 2vh;
    border-radius: 8px;
    border-width: 2px;
    border-color: #292827;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-flex;
}

.footerImage {
    max-width: 25px;
    height: auto;
    margin-right: 5px;
    margin-left: 5px;
  }

.helpButton:hover {
    background-color: #292827;
    color: #f3e9cb;
  }

.hoverText {
    position: absolute;
    top:4px;
    right:50px;
    color: #292827;
    background-color: white;
    border-radius: 2px;
    padding: 0.5vh 1vh;
    font-size: small;
    width: fit-content;
    white-space: nowrap;
    z-index: 1;
}
  