/* CSS for Header */
.header {
  position: fixed; /* Fixed position at the top */
  width: 100%; /* Full width */
  top: 0; /* Align to the top */
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Space between elements */
  padding: 5vh 5px; /* Padding */
  color: black; /* Text color */
  background-color: #183d33; /* Background color */
  text-transform: uppercase; /* Uppercase text */
  caret-color: transparent; /* Transparent caret color (text cursor) */
}

/* Container for Menu Button */
.menuButtonContainer {
  position: absolute; /* Absolute positioning */
  top: 2vh; /* Top offset */
  right: 10px; /* Right offset */
  display: flex; /* Use flexbox for layout */
  justify-content: flex-end; /* Align content to the right */
  align-items: flex-start; /* Align items to the top */
}

/* CSS for Menu Button */
.menuButton {
  color: #f3e9cb; /* Text color */
  padding: 1vh 2vh; /* Padding */
  border-color: #f3e9cb; /* Border color */
  border-width: 2px; /* Border width */
  border-radius: 10px; /* Rounded corners */
  cursor: pointer; /* Cursor type */
  margin-right: 5px; /* Margin to the right */
  margin-left: 5px; /* Margin to the left */
  display: flex; /* Use flexbox for layout */
  justify-content: flex-end; /* Align content to the right */
  align-items: flex-start; /* Align items to the top */
}

/* Hover effect for Menu Button */
.menuButton:hover {
  background-color: #f3e9cb; /* Background color on hover */
  color: #292827; /* Text color on hover */
}

/* Lock Image */
.lockImage {
  position: relative; /* Relative positioning */
  max-width: 15px; /* Maximum image width */
  left: 5px; /* Left offset */
  top: 2px; /* Top offset */
}

/* Logo Image */
.logoImage {
  position: absolute; /* Absolute positioning */
  top: 2vh; /* Top offset */
  left: 10px; /* Left offset */
  max-width: 30vh; /* Maximum width */
  max-height: 25vh; /* Maximum height */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer; /* Cursor type */
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%); /* Clip path for shape */
  z-index: 1;
}

/* Hover Text */
.hoverText {
  position: absolute; /* Absolute positioning */
  top: 40px; /* Position from the top */
  right: 10px; /* Position from the right */
  color: #292827; /* Text color */
  background-color: #fff4d9; /* Background color */
  border-radius: 10px; /* Rounded corners */
  font-size: small; /* Font size */
}

.logoPlain {
  position: absolute;
  width: 120px;
  margin-left: 10px;
}
