/* Keyframes for Spin Animation */
@keyframes spin {
  0% {
      transform: rotate(0deg); /* Initial rotation */
  }

  100% {
      transform: rotate(360deg); /* Full rotation */
  }
}

/* Loading Spinner */
.loading-spinner {
  border: 16px solid #2c2b2a; /* Outer border style */
  border-radius: 50%; /* Border radius for a circle */
  border-top: 16px solid #bd5545; /* Top border style (color) */
  width: 120px; /* Width of the spinner */
  height: 120px; /* Height of the spinner */
  animation: spin 2s linear infinite; /* Apply the spin animation */
  position: fixed; /* Position the spinner relative to the viewport */
  top: 45%; /* Move the spinner 50% down from the top of the viewport */
  left: 45%; /* Move the spinner 50% from the left of the viewport */
  z-index: 2; /* Ensure the spinner appears above other content */
}