/* CSS for entire content of manual*/
.manualContainer {
    display: flex; /* Use flexbox for layout */
    color: black; /* Text color */
    padding: 30px; /* Padding */
    margin-top: 100px; /* Top margin */
}

/* Table of Contents */
.tableOfContents {
    position: fixed; /* Fixed position */
    width: 200px; /* Width */
    height: 70%; /* Height */
    padding: 10px; /* Padding */
    border-right: 1px solid #ccc; /* Right border */
}

.tableOfContents a {
    display: block; /* Block-level element */
    margin-bottom: 10px; /* Bottom margin */
    text-decoration: none; /* No text decoration (underline) */
    color: #183d33; /* Link text color */
    cursor: pointer; /* Change cursor to hand */
    padding: 5px; /* Add some padding for a better hover effect */
    border-radius: 3px; /* Rounded corners for background */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.tableOfContents a:hover {
    text-decoration: underline; /* Add underline */
    color: #292827; /* Change text color */
    font-weight: bold; /* Make text bold */
}

.tableOfContents h2 {
    text-align: left;
}


/* manual content alongside table of contents */
.content {
    margin-left: 200px; /* Left margin to accommodate the table of contents */
    flex-grow: 1; /* Allow content to grow within the flex container */
    padding: 20px; /* Padding */
}

.content p {
    margin-top: 20px; /* Top margin for paragraphs */
}

.content h1 {
    margin-top: 20px; /* Top margin for paragraphs */
}

.content h2 {
    margin-top: 20px; /* Add top margin  */
    font-size: large; /* Set a larger font size for h2 elements */
    text-align: left; /* Left-align text within h2 elements */
}

.content h3 {
    margin-top: 20px; /* Add top margin to separate h3 from preceding content */
    margin-bottom: 20px; /* Add bottom margin to separate h3 from subsequent content */
    font-size: large; /* Set a larger font size for h3 elements */
}

.content h4 {
    font-size: x-large; /* Font size for h4 headings */
    font-weight: bold; /* Bold font for h4 headings */
    margin-top: 20px;
}

.content li {
    margin-top: 20px; /* Top margin for list items */
    margin-bottom: 20px; /* Bottom margin for list items */
}

.contribution a {
    display: block; /* Display anchor links as block-level elements */
}

.selectContent img {
    width: 600px; /* Set a specific width for images within selectContent */
}

.icon {
    width: 30px; /* Set a specific width for icons */
    margin-right: 10px; /* Add right margin to create spacing between icons and other elements */
}

.icon-textContainer {
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Center items vertically */
    margin-bottom: 10px; /* Add space between list items */
}