/* CSS for Manual Container */
.manualContainer {
    display: flex; /* Use flexbox for layout */
    color: black; /* Text color */
    padding: 30px; /* Padding */
    margin-top: 100px; /* Top margin */
    font-family: 'Ariel', sans-serif; /* Font family */
}

/* Table of Contents */
.tableOfContents {
    position: fixed; /* Fixed position */
    width: 200px; /* Width */
    height: 70%; /* Height */
    padding: 10px; /* Padding */
    border-right: 1px solid #ccc; /* Right border */
}

/* Table of Contents Links */
.tableOfContents a {
    display: block; /* Block-level element */
    margin-bottom: 10px; /* Bottom margin */
    text-decoration: none; /* No text decoration (underline) */
    color: #183d33; /* Link text color */
}

/* Content Section */
.content {
    margin-left: 200px; /* Left margin to accommodate the table of contents */
    flex-grow: 1; /* Allow content to grow within the flex container */
    padding: 20px; /* Padding */
}

/* Content Paragraphs */
.content p {
    margin-top: 20px; /* Top margin for paragraphs */
}

/* Content Level 1 Headings */
.content h1 {
    margin-bottom: 20px; /* Bottom margin for h1 headings */
}

/* Content Level 2 Headings */
.content h2 {
    margin-bottom: 20px; /* Bottom margin for h2 headings */
    font-size: large; /* Font size for h2 headings */
}

/* Content Level 3 Headings */
.content h3 {
    margin-top: 10px; /* Top margin for h3 headings */
    font-size: large; /* Font size for h3 headings */
}

/* Content Level 4 Headings */
.content h4 {
    font-size: x-large; /* Font size for h4 headings */
    font-weight: bold; /* Bold font for h4 headings */
}

/* Content List Items */
.content li {
    margin-top: 20px; /* Top margin for list items */
    margin-bottom: 20px; /* Bottom margin for list items */
}
