.manualContainer {
    display: flex;
    color: black;
    padding: 30px;
    margin-top: 100px;
    font-family: 'Ariel', sans-serif;
}

.tableOfContents {
    position: fixed;
    width: 200px;
    height: 70%;
    padding: 10px;
    border-right: 1px solid #ccc;
}

.tableOfContents a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #183d33;
}

.content {
    margin-left: 200px;
    flex-grow: 1;
    padding: 20px;
}

.content p {
    margin-top: 20px;
}

.content h1 {
    margin-bottom: 20px;
}

.content h2 {
    margin-bottom: 20px;
    font-size: large;
}

.content h3 {
    margin-top: 10px;
    font-size: large;
}

.content h4 {
    font-size: x-large;
    font-weight: bold;
}

.content li {
    margin-top: 20px;
    margin-bottom: 20px;
}