.heading {
    font-size: 20px;
    text-align: center;
    font-family: 'Verdana', sans-serif;
}

.graphContainer {
    margin-top: 5vh;
    max-height: 85vh; /* Set maximum height */
    overflow-y: auto; /* Allow scrolling */
    /* display: flex;
    flex-direction: column; */
    align-items: center; /* Center the content horizontally */
}


.chartWrapper {
    /* Removed display: absolute; */
    display: flex;
    justify-content: space-between;
    margin: 2rem 0; /* Add some space between chart wrappers */
    /* If you want to set a max height */
    /* max-height: calc(90vh / 3); */
    /* overflow-y: auto; */

}

.chartSection {
    flex: 2; /* Takes up 2/3 of the space */
    /* If you want to set a max height */
    /* max-height: 100%; */
    /* overflow-y: auto; */
}

.textSection {
    flex: 1; /* Takes up 1/3 of the space */
    padding: 20px;
    margin-left: 2rem;
    background-color: #f3e9cb; /* Just for demonstration */
    /* If you want to set a max height */
    /* max-height: 100%; */
    /* overflow-y: auto; */
}
