.heading {
    font-size: 20px;
    text-align: center;
    font-family: 'Verdana', sans-serif;
}

.graphContainer {
    position: absolute;
    margin-top:5vh;
    max-height: 85vh;
    overflow-y: auto;
    align-items: center;
}

.chartWrapper {
    display: flex;
    justify-content: space-between;
    margin: 10rem 0;
}

.chartSection {
    width: 100vh;
}

.textSection {
    width: 300px;
    padding: 20px;
    margin-left: 2rem;
    background-color: #f3e9cb;
    border-color: #292827 ;
    border-width: 2px;
    border-radius: 20px;
}
