.heading {
    font-size: 20px;
    text-align: center;
    font-family: 'Verdana', sans-serif;
}

.graphContainer {
    position: absolute;
    margin-top: 5vh;
    max-height: 85vh;
    overflow-y: auto;
    align-items: center;
}

.chartWrapper {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
}

.chartSection {
    width: 100vh;
}

.textSection {
    width: 300px;
    padding: 20px;
    margin-left: 2rem;
    background-color: #f3e9cb;
    border-color: #292827;
    border-width: 2px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.textSection div {
    margin-bottom: 1rem;
}

.applyButton {
    background-color: #f3e9cb;
    border-color: #292827;
    border-width: 2px;
    border-radius: 10px;
    justify-content: flex-end;
    padding: 1vh 1vh;
    color: #292827;
    cursor: pointer;
    text-transform: uppercase;
    font-size: small;
}

.applyButton:hover {
    color: #f3e9cb;
    background-color: #292827;
}
